
<div>
  <div id="faq_page" >
    <h1> Sillarai FAQ </h1>
   
    <p id="question"> 1.  What is Sillarai?</p> 
    <p>
    Sillarai is a simple money management web application to track day to day miscellaneous expenses.  The main idea of Sillarai is to make tracking
    more easier. 
    </p>
   
    <p id="question"> 2. Why the name Sillarai?</p> 
    <p>
    'Sillarai' is the tamil word for collections of coins. It is really hard to track these small expenses in day to day life. When you keenly track of
    these small expenses, you can really figure out how much exactly your expenses are.
    </p>
   
    <p id="question"> 3. There are lot of free online money tracking application available. What's the need of sillarai?</p>
    <p>
     Yes, we agree. There are pretty lot of good application available for expense management. Sillarai is not only one more attempt for tracking 
     expenses but also this provide a platform for visualize how money is scattered over different things.<br>
     Hence the whole data is used to analyse the way people spend money.
    </p>
   
    <p id="question"> 4. So you are going to use our data for <b>your analysis purposes</b>?</p>
    <p>
     This is your wish. You can help us by giving your data. Don't worry, we respect your privacy. The system wont collect your information
     unless you say it. <br>
     We would be grateful if you allow us to take the data. Technically speaking, the system will only use the expense data even without the knowledge
     of whose expense that is. Again it is not <b>your analysis purpose</b>, It is for <b> our analysis purpose </b>.<br>
      The collected data is <b>free and can be viewed by any one</b>.
     </p>
     
     <p id="question"> 5. What is the cost of sillarai?</p> 
     <p>
     Sillarai is always for free of cost. The main aim of sillarai is make you easier to manage your expenses.
     </p>
     
     <p id="question"> 6. You are talking about miscellaneous expenses. Can I manage all my expense?</p> 
     <p>
     There is nothing stopping you to manage all your expenses. Sillarai was started primarily for miscellaneous expenses.
     </p>
     
     <p id="question"> 7. I am tired of categorizing all my expenses. Can't the system do that for me?</p> 
     <p>
     Sillarai has a categorization engine which can automatically categorize your expense. Bayesian algorithm is used for categorizing the expenses. You need to teach the system how to categorize the expenses. <br>
     Manually categorize atleast for 10 to 20 expenses by yourself then tick the option under 'Use categorization engine' in 'Preference'. From the next expense you enter the system will start categorizing your expenses.
      </p>
     
      <p id="question"> 8. What is the revenue model for Sillarai?</p> 
      <p>
       To be frank, there is no revenue and we don't have any idea of making making money from Sillarai. 
     </p>
    
     <p id="question"> 9. This is really great. I have to somehow help this one to be successful. How can I help?</p> 
     <p>
     Currently only help needed by you is hosting space.  For the next year
     I have to make money. So if you can, then you can donate money through paypal. Please contact me through enquiry form.
     </p>
     <p id="question"> 10. I am sorry. I can't donate money. Is there any other way to help?</p>
     <p>
     Yes.<br>
     Please tell about sillarai to your friends.<br> 
     Write a blog post about sillarai. <br>
     Give your ideas or comments on <a href="/contact"> here </a>
     </p>
     <p id="question"> 11. Who is behind Sillarai?</p> 
     <p>
     Currently one. If you want to know more <a href="http://raghulj.com">click here</a>.
     </p>



  </div>

</div>
