<div id="feature">
<h2 id="feature_heading"> The sillarai way of money management </h2>
  <div id="feature_container">
    The main idea of <a href="http://sillarai.com">Sillarai</a> is making your tracking more easily. <a href="http://sillarai.com">Sillarai</a> uses a simple format for entering your expenses.
    <br><Br> eg. <b> amount , description  mm/dd/yy </b>. <br><br>
    The same format of entering expenses is used by Gmail chatbot and other extensions (yet to come). 
    <br><br>
    A following video demostrates the usage in web application.
    <br><br><br>

    <div style="margin-left:15%">
      <object width="500" height="315"><param name="movie" value="http://www.youtube.com/v/aad-usE4v-s&hl=en_US&fs=1&rel=0&color1=0x234900&color2=0x4e9e00&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/aad-usE4v-s&hl=en_US&fs=1&rel=0&color1=0x234900&color2=0x4e9e00&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="315"></embed></object> 
  </div>
	</div>
  
  <h2 id="feature_heading"> Google Chat bot </h2>
  <div id="feature_container">
  <div id="pic_left">
	<img src="/images/screenshots/chat_bot.png">
  </div>
  <div id="content_right">
     Add expenses.sillarai [at] gmail [dot] com as your friend in gchat. From then, you can use the chat bot to enter the expenses easily. 
     For more information about how to use the chat bot type 'help' in that.
     <br><br><br>
     Since Sillarai app maintains same format for entering expenses, It is easier
     to use the chat bot. Check out the video for more information.
  <br><br>
</div>
<div id="spacer"></div>
    <div style="margin-left:20%">
<object width="340" height="285"><param name="movie" value="http://www.youtube.com/v/pujktf3bCTc&hl=en_US&fs=1&rel=0&color1=0x234900&color2=0x4e9e00&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/pujktf3bCTc&hl=en_US&fs=1&rel=0&color1=0x234900&color2=0x4e9e00&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="340" height="285"></embed></object>
</div>
</div>
 
  
  <h2 id="feature_heading"> Mobile application </h2>
  <div id="feature_container">
  <div id="pic_left">
	<img src="/images/screenshots/mobile_app.gif">
  </div>
  <div id="content_right">
    A mobile application to enter the expenses. This application lets you to enter the expenses wherever you carry mobile phone. The expenses can then be transfered to the excel sheet. This application has basic features like Add, Edit, List and Delete expenses.
    <br><br>
	The application is in early stage. You can download the application with source code from <a href="http://github.com/raghulj/sillarai_midlet">github</a>.
  <br><br>
   A demonstration of the application can be found in the youtube video.
  
   

  </div>
	<div id="spacer">
    <div style="margin-left:20%">
   <object width="340" height="285"><param name="movie" value="http://www.youtube.com/v/njOaprwSBGc&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/njOaprwSBGc&hl=en_US&fs=1&color1=0x234900&color2=0x4e9e00&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="340" height="285"></embed></object>
  </div>
 </div>
</div>

<br>
<h2 id="feature_heading"> Bayesian Categorization </h2>
  <div id="feature_container">
  <div id="pic_left">
	<img src="/images/screenshots/pie_chart.png">
  </div>
  <div id="content_right">
    You can categorize your expenses. You can create categories and add expenses to that by just drag and drop. Drag a particular expenses to a specific category. Thus expenses are categorized. 
    <br><br>

    The categorization is also done by the system automatically. The categorization engine categorizes expenses based on your inputs. Please categorize your expenses manually for some entries. Lets say, If you are categorizing manually for 20 - 30 expense entries.
    The categorization engine learns from your entries and categorizes the expenses.
    <br><br>
    If you are not satified with the entries you can also turn off the categorization engine in preference page.

  </div>
	<div id="spacer">
	</div>
</div>






</div>
