<div id="feature">
<h2 id="feature_heading"> Mobile application </h2>
  <div id="feature_container">
  <div id="pic_left">
	<img src="/images/screenshots/mobile_app.gif">
  </div>
  <div id="content_right">
    A mobile application to enter the expenses. This application lets you to enter the expenses wherever you carry mobile phone. The expenses can then be transfered to the excel sheet. This application has basic features like Add, Edit, List and Delete expenses.
	<br>
	The application is in early stage. You can download the application with source code from <a href="http://github.com/raghulj/sillarai_midlet">github</a>.

  </div>
	<div id="spacer">
	</div>
</div>

<hr>
<br>
<h2 id="feature_heading"> Categorization </h2>
  <div id="feature_container">
  <div id="pic_left">
	<img src="/images/screenshots/pie_chart.png">
  </div>
  <div id="content_right">
    You can categorize your expenses. Just drag drop the expense to the specific category.

  </div>
	<div id="spacer">
	</div>
</div>


<hr>




</div>
