<script>
 $(function() {

                $('#container-1').tabs();
});
</script>
<div style="border:0px solid #ccc;width:99%;height:200px;margin:0px auto;">
  <img src="/images/banner.png">
</div>
<div>
  <div id="loadtext">
    <br>
    <p>Sillarai is a simple innovative personal finance tool. It helps you track 
    your money by spending very less time and thus saving you time. It's a smarter 
    way to manage your money. </p>
    <br>
    <p>
    Sillarai gives you clear view of your spend and helps you make smart 
    financial decisions.
    </p>
    <br>
    <p>
    Sillarai is an open system. The data is used to analyze the pattern of 
    expenditure. You can un-participate at any time by a click of a 
    button.
    </p>
   <br>
    <p> If you need to know more about Sillarai, please read the <a href="/users/faq">FAQ</a>. </p>
   <br>

  </div>
  <div id="loginbox">
        <div id="container-1">
            <ul>
                <li><a href="#login"><span>Login</span></a></li>
                <li><a href="#signup"><span>Signup</span></a></li>
            </ul>
            <div id="login">
                <%= render :partial => 'login_part' %>
            </div>
            <div id="signup">
       		<%= render :partial => 'signup_part' %>
            </div>

        </div>

</div>
  


</div>
