
<div class="left"> 
  <div class="enterbox" >
    <p> Enter the expense in words </p>
    <input id="expense_data" type="text" size="60"> <div id="date_select" style="float:right;position:absolute;"></div>
  </div>

  <!----------- main content -->
<div id="box" style="float:right;height:300px;width:97%;margin-top:20px;">

<div id="1" class="ui-widget-conten" style="border:1px solid #ccc;height: 20px; width: 80%; padding: 2px; float: left;margin:3px ">
  <div id="handle" style="float:left"> ::</div>data
</div>
<div id="2" class="ui-widget-conten" style="border:1px solid #ccc;height: 20px; width: 80%; padding: 2px; float: left;margin: 3px; ">
data2
</div>
<!--- end of main content -->

</div>
