
<div id="menu">
<ul>
  <li><a href="/expenses"><img src="/images/icons/money.png" align="absmiddle">Expenses</a></li>
  <li><a href="/categories"><img src="/images/icons/rainbow.png" align="absmiddle" >Categories</a></li>
  <li><a href="/expenses/graphview"><img src="/images/icons/chart_bar.png" align="absmiddle" >Visualize</a></li>
  <li><a href="/users/settings"><img src="/images/icons/wrench_orange.png" align="absmiddle">Preferences</a></li>
  <li style="float:right;padding-right:1%;"> <a href="/users/logout"><img src="/images/icons/door_out.png" align="absmiddle">Logout</a></li>
</ul>
</div>
