

<div id="menu">
<ul>
  <li><a href="/users/welcome"><img src="/images/icons/house.png" align="absmiddle">Home</a></li>
  <li><a href="/users/features"><img src="/images/icons/star.png" align="absmiddle">Overview</a></li>
  <li><a href="/users/faq"><img src="/images/icons/help.png" align="absmiddle" >FAQ</a></li>
  <!--  <li><a href="/users/credits"><img src="/images/icons/chart_bar.png" align="absmiddle" >Credits / Thanks</a></li> -->
  <li><a href="/users/contact"><img src="/images/icons/pencil.png" align="absmiddle" >Reach us</a></li>
</ul>
</div>
